@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    background-color: black;
    box-sizing: border-box;
    min-height: 100dvh;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    gap: 0;
    padding: 0;
	margin: 0;
}

* {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	letter-spacing: 0em;
	line-height: 1.2;
	font-style: normal;

	transition: background-color 0.08s;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
	overflow: overlay;
	height: 12px;
	width: 7px;
	position: absolute;
}

*::-webkit-scrollbar-track {
	overflow: overlay;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	overflow: overlay;
	background-color: gray;
	border-radius: 5px;
}


#root {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}