html, body {
    background-color: black;
}

#root {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}