.header_container {
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0;
	align-content: center;
	flex-wrap: nowrap;
}

.project_title {
	font-size: 46px;
	margin-bottom: 6px;
	user-select: none;

	@media (max-width: 600px) {
		font-size: 36px;
		letter-spacing: -0.3px;
	}
}

.nav_bar_container {
	width: min-content;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	gap: 15px;
}

.nav_bar {
	width: min-content;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--var-block);
	align-content: center;
	border-radius: 16px;
	overflow: hidden;
}

.nav_elem_container {
	box-sizing: border-box;
	width: min-content;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 18px 8px 18px;
	align-content: center;
	cursor: pointer;
	text-decoration-line: none;
	opacity: 0.6;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	@media (min-width: 1281px) {
		@media (pointer: fine) {
			&:hover {
				background-color: var(--var-hover);
			}
		}

		&:active {
			background-color: var(--var-push);
		}
	}
}

@media (max-width: 600px) {
	.nav_bar_mobile {
		width: 74%;
		height: 54px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		-webkit-backdrop-filter: blur(25px);
		backdrop-filter: blur(25px);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
		background-color: var(--var-mobile-nav-bar);
		overflow: hidden;
		padding: 0;
		align-content: center;
		flex-wrap: nowrap;
		gap: 0;
		border-radius: 18px;
		position: fixed;
		bottom: 20px;
		left: 13%;
		right: auto;
		z-index: 4;
		animation: enter 1s cubic-bezier(0, 1.07, 0, 0.99);
	}

	.nav_bar_mobile_container {
		flex-shrink: 0;
		flex: 1 0 0px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 5px;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 0;
		align-content: center;
		flex-wrap: nowrap;
		cursor: pointer;
		text-align: center;
	}

	.icon_nav_mobile {
		font-size: 28px;
		color: var(--var-text-and-icons);
	}

	.nav-text-mini {
		font-size: 10px;
	}
}

.icon_nav {
	font-size: 26px;
	width: 26px;
	height: 26px;
	color: var(--var-text-and-icons);
}

.nav_tablet {
	display: none;

	@media (max-width: 1280px) {
		display: flex;
	}
}

.nav-mgri-logo {
	width: 56px;
	height: auto;
	fill: var(--var-text-and-icons);
}

.theme-selector-wrapper {
	display: flex;
	flex-direction: row;
	gap: 4px;
	margin-bottom: 2px;

	.theme-selector-item {
		padding: 7px 7px 3px 7px;
		border-radius: 100%;
	}
}

.active {
	opacity: 1;
}
